<!DOCTYPE html>

<html lang="en">

    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Disconsiderating</title>
    </head>

    <body>
        <div class="header">
            <h1>Columns</h1>
        </div>
        <div class="container">
            <h1>Select columns to de disconsidered</h1>
            Each separated by a comma (´column1, column2´)
            <div class="section">
                <form action="/disconsider.html" method="post">
                    <input autofocus name="columnsDisconsider" placeholder="Columns to disconsider" type="text">
                    <input type="submit" value="Submit">
                </form>

            </div>

            <div class="section">
                <table id="table" class = tableC>
                    <thead>
                    </thead>
                    <tbody>

                        <h3>Current columns</h3>
                        <tr>
                            {% for column in columns %}
                            <td class="column">{{ column }}</td>
                            {% endfor %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
    <footer>
        <form action="/" method="get">
            <button>Previous Page</button>
        </form>
    </footer>

</html>
