<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title> AI model generation </title>
    </head>
    <body>
        <div class="header">
            <h1>Create a predictive AI model</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Choose a CSV file</h2>
                <form action="/" method="post" enctype="multipart/form-data">
                    <input name="fileChosen" placeholder="Choose a file" type="file" accept=".csv">>
                    <button type="submit">Submit</button>

                    <script>
                        document.getElementById("fileChosen").addEventListener("change", upload, false);

                        function upload(e) {
                        var data = null;
                        var file = e.target.files[0];

                        var reader = new FileReader();
                        reader.readAsText(file);
                        reader.onload = function (event) {
                            var csvData = event.target.result;

                            var parsedCSV = d3.csv.parseRows(csvData);

                            parsedCSV.forEach(function (d, i) {
                                if (i == 0) return true; // skip the header
                                document.getElementById(d[0]).value = d[1];
                            });
                        }
                    }
                    </script>
                </form>
            </div>
        </div>
    </body>
</html>
